<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p>
 --><div class="border">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div class="border answer">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>

<div>
  <%= link_to "Ask another question", ask_path %>
</div>

